/* =====================
  General Styling
  ====================== */
body {
  background-color: #00b7cf;
  color: #1d2a62;
  font-family: "Roboto Serif", sans-serif;
  margin: 0;
  line-height: 1.5;
}

p {
  font-size: 18px;
}

section {
  padding: 10px;
}

/* =====================
  Navigation Menu
  ====================== */
nav {
  background-color: #ededed;
  font-family: "Roboto", serif;
  box-shadow: 0 8px 20px rgba(12, 123, 163, 0.459);

  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;

  top: 0;
  position: sticky;
  z-index: 100;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

nav a {
  color: #00b7cf;
  text-decoration: none;
  margin: 0 30px;
  padding: 10px 0;
}

nav a:hover {
  color: #1d2a62;
}

.nav-message {
  border-radius: 50px;
  border: #00b7cf 5px solid;
  margin-left: auto;
  padding: 10px 0;
}

/* =====================
  Title/Header
  ====================== */
header {
  background-color: #00b7cf;
  color: #ededed;
  text-align: right;
  padding: 180px;
  background: url("../images/art2.png") no-repeat left / cover;

  background-size: 650px;
}

header h1 {
  font-family: "Darumadrop One", sans;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  line-height: 0.8;
}

header p {
  letter-spacing: 2px;
  padding: 0 30px;
  margin-top: 0;
}

header em {
  color: #fed85d;
  font-size: 120px;
}

/* =====================
  Headings
  ====================== */
h2 {
  text-align: center;
  color: #1d2a62;
  font-size: 25px;
  font-family: "Roboto", sans;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 26px;
}

/*  =====================
  About
  ====================== */
#About {
  background: url("../images/art1.png") no-repeat top right / cover;
  background-size: 350px;

  background-color: #ededed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 60px;
  margin-bottom: -20px;
}

#About h2 {
  color: #1d2a62;
  text-align: left;
  padding: 0 30px;
}

#About h3 {
  text-align: left;
  font-style: italic;
  text-transform: uppercase;
  color: #6daf5f;
  padding: 0 30px;
}

.profile-pic {
  object-fit: cover;
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

#About p {
  font-size: 20px;
  padding: 10px;
}

#About em {
  color: #6daf5f;
}

.about-column {
  color: #239dca;

  text-align: left;
  padding: 50px;
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.quote-container {
  background-color: #6daf5f;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  z-index: 99;
}

.quote {
  font-size: 20px;
  color: #ededed;
  position: relative;
  align-items: center;
  font-family: "Roboto-Serif", sans;
  font-style: italic;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*  =====================
  Experience
  ====================== */
#Experience {
  margin-top: -33px;
  background: linear-gradient(#ededed 40%, #00b7cf 60%);
  padding: 40px 0;
}

#Experience ul {
  list-style: none;
  padding: 0;
}

#Experience li {
  text-align: center;
  padding: 25px;
  margin: 15px 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.exp-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

/*  =====================
  Education Rows
  ====================== */

.education {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.ed-column {
  color: #1d2a62;
}

.ed-list li {
  background-color: #ededed;
}

/*  =====================
  Work Rows
  ====================== */
.work {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.work-column {
  color: #1d2a62;
}

.work-list li {
  background-color: #ededed;
}

/*  =====================
  Skills
  ====================== */

#Skills {
  background-color: #ededed;
  padding: 40px;
}

#Skills ul {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

#Skills li {
  border-radius: 10px;
  background-color: #00b7cf;
  list-style: none;
  padding: 10px 20px;
}
/*  =====================
  Projects
  ====================== */

#Projects {
  background-color: #ededed;
  padding: 40px;
}

#Projects ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#Projects li {
  border-radius: 10px;
  background-color: #00b7cf;
  list-style: none;
  padding: 100px;
}

/*  =====================
  Connect
  ====================== */
#Connect {
  background-color: #1d2a62;
  justify-content: center;
}

#Connect h2 {
  color: #ededed;
}

#Connect a {
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.github {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../images/github.png");
  background-size: contain;
  background-repeat: no repeat;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.linkedin {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../images/linkedin.png");
  background-size: contain;
  background-repeat: no repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*  =====================
  Leave A Message form
  ====================== */
#Leave-a-Message {
  background: linear-gradient(to right, #26367e 50%, white 50%);
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: auto;
}
.email-icon {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: 10%;
  overflow: hidden;
}

#Leave-a-Message h2 {
  font-style: italic;
  padding: 20px 20px;
  margin-right: auto;
}

#Leave-a-Message label {
  display: inline-block;
}

#Leave-a-Message input {
  margin: 10px 18px;
  padding: 10px 60px;
}

#Leave-a-Message textarea {
  margin: 10px 0;
  padding: 60px;
}

#Leave-a-Message button {
  color: #1d2a62;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 10px 100px;
  margin: 6% 17%;
}

#Leave-a-Message button:hover {
  color: #00b7cf;
}

/*  =====================
  Message Section
  ====================== */
#messages li {
  background-color: white;
  list-style: none;
  text-align: center;
  padding: 15px;
  margin: 0 30px;
}
/*#messages ul:hover {
    color:#1d2a62;
  }*/

#messages a {
  color: #6daf5f;
  text-decoration: none;
  padding: 0 30px;
}

#messages button {
  color: #1d2a62;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 10px;
  margin: 0 30px;
}

#messages button:hover {
  color: #00b7cf;
}

/* ----- Mobile Phones (up to 400px) ----- */
@media all and (max-width: 400px) {
  .nav-message {
    justify-content: flex-start;
    margin-right: auto;
    margin: 10px 0;
  }
}

/* ----- Mobile Phones (up to 600px) ----- */
@media all and (max-width: 600px) {
  .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #Leave-a-Message {
    padding: 20px;
  }

  #Leave-a-Message h2 {
    margin: 0;
    padding: 20px 0;
    font-size: 26px;
    text-align: center;
  }

  #Leave-a-Message label {
    margin: 10px 0;
    font-size: 18px;
  }

  #Leave-a-Message input,
  #Leave-a-Message textarea {
    width: 100%;
    padding: 18px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 10px;
  }

  #Leave-a-Message textarea {
    min-height: 150px;
  }

  #Leave-a-Message button {
    width: 100%;
    padding: 18px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 12px;
  }

  .email-icon {
    width: 250px;
    height: 250px;
    margin: 20px auto;
  }

  #messages li {
    margin: 10px 0;
    padding: 20px;
    font-size: 18px;
  }

  #messages button {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    font-size: 18px;
  }
}
